header {
    @include container-full-width;
    color: $color_prim; // richiamiamo le ns funzioni con $
    font-size: 14px;
    font-weight: bold;
    position: fixed;

    nav {
        height: 70px;
        border-bottom: 1px solid silver;
        @include flex-center;
        .logo {
            width: 50%;
        }
        .lista-menu {
            width: 50%;
            @include flex-center; // richiamiamo i ns mixin con la @include
            justify-content: flex-end;
            ul {
                display: flex;
                flex-wrap: wrap;
                list-style-type: none;

                li {
                    padding: 15px;
                    cursor: pointer;
                    
                    &:hover { // la & equivale a THIS in JS
                        color: $color_sec;
                        
                    }
                    &:last-child {
                        color: $color_sec;
                        background-color: white;
                        border-radius: 5px;
                        border: 1px solid $color_sec;
                        
                        &:hover { // la & equivale a THIS in JS
                            color: white;
                            background-color: $color_sec;
                            
                        }
                    }
                }
            }
        }
    }
}
