main {
    top: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    color: $color_prim;
    .container {
        @include containerA;
        &-jumbo {
            padding-top: 70px;
        }
        .jumbo-left {
            width: 50%;
            padding: 20px;
            .jumbo-left-top {
                padding-bottom: 20px;
                font-size: 25px;
                h1 {
                    line-height: 90px;
                }

            }
            .jumbo-left-down {
                .text-jumbo-left-down {
                    padding-bottom: 20px;
                }
                .button-jumbo-left-down {
                    padding-bottom: 20px;
                    button {
                        width: 200px;
                        height: 50px;
                        border-radius: 5px;
                        background-color: $color_sec;
                        border: 1px solid $color_sec;
                        cursor: pointer;
                        color: white;
                        &:hover {
                            background-color: #233569;
                        }
                    }
                }
                .link-jumbo-left-down {

                    span {
                        font-size: 14px;
                        cursor: pointer;
                        &:hover {
                            color: $color_sec;
                        }
                    }
                }
            }
        }
        .jumbo-right {
            width: 50%;

            img {
                width: 100%;

            }
        }

    }
}
