main {
    top: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    .container {
        @include containerA;
        &-jumbo {
            padding-top: 70px;
        }
        .jumbo-left {
            width: 50%;
            padding: 20px;
        }
        .jumbo-right {
            width: 50%;

            img {
                width: 100%;

            }
        }

    }
}
